@import "../mixins";
@import '../variables';


.header{
    width: 100%;
}

.hero {
     
    &__nav {
      background-color: #27262A;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @media (min-width:$desktop){
        flex-wrap: nowrap;
        background-color: #000;
      }
      @media (min-width:$desktop) and (max-width:1199px){
        padding: 0 90px;
      }
    }
  
    &__logo {
      display: flex;
    }
  
    &__logo:hover > .hero__logo-title {
      color: #fff;
    }
  
    &__logo:hover > .hero__logo-img {
      fill: #fff;
    }
  
    &__logo-title {
      display: none;
      font-size: 24px;
      font-weight: bold;
      line-height: 16px;
      text-transform: uppercase;
      color: $purple;
      margin-left: 17px;
      align-self: center;
      @media (min-width: $tablet) {
        display: inline;
      }
    }
  
  
   
  }

  .btn {
    &__buy-now {
      @include btn;
      padding: 11px 10px;
      margin: 34px 0 32px 0;
      font-size: 15px;
      line-height: 15px;
      @media (min-width: $tablet) {
        position: relative;
        font-size: 16px;
        line-height: 16px;
        padding: 11px 40px;
      }
      @media (min-width: $desktop) {
        order: 3;
      }
  
    }
}
  .nav-menu {
    &__list {
      position: fixed;
      width: 292px;
      left: calc(50% - 292px / 2);
      top: -100vh;
      transition: all 300ms ease-in-out;
      @media (min-width: $tablet) {
        position: inherit;
        width: 100%;
        display: flex;
        justify-content: center;
      }
      @media (min-width: $desktop) {
        order: 2;
        width: auto;
      }
    }
  
    &__active {
      position: absolute;
      top: 106px;
    }
  
    &__item {
      display: block;
      position: relative;
      text-align: start;
      background-color: #333333;
      padding: 29px 0 21px 35px;
      @include MainFont;
      color: #fff;
      font-size: 26px;
      line-height: 26px;
      border-bottom: 2px solid #3b3b3b;
      @media (min-width: $tablet) {
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        color: $purple;
  
        padding: 0 0 18px 29px;
        background-color: transparent;
        border: none;
      }
      @media (min-width: $desktop) {
        padding: 0;
        margin-left: 20px;
      }
    }
  
    &__item:hover {
      color: $purple;
      @media (min-width: $tablet) {
        color: #fff;
        cursor: pointer;
      }
    }
  
    &__item:hover:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: calc(40px - 50px / 2);
      width: 8px;
      height: 50px;
      background-color: $purple;
      @media (min-width: $tablet) {
        display: none;
      }
    }
  }



.header{
    position: relative;
    background-image: url('/src/img/background/laptop.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 992px) and (min-width: 481px){
       }
       @media (max-width: 480px) and (min-width: 320px){
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    &__text{
        text-align: center;
        margin-top: 115px;
        padding-bottom: 459px;

        @media (max-width: 992px) and (min-width: 481px){
            margin-top: 68px;
           }
           @media (max-width: 480px) and (min-width: 320px){
            margin-top: 50px;
            padding-bottom: 394px;
        }
    }

    &__text__title{
        @include title($font-size: 82px, $color: $white);
        @media (max-width: 992px) and (min-width: 481px){
         font-size: 72px;       
        }
        @media (max-width: 480px) and (min-width: 320px){
            font-size: 48px;
            margin-top: 50px;
        }
        
    }

    &__text__description{
        font-family: Lato;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 30px;
        color: $purple;
        margin-top: 19px;

        @media (max-width: 992px) and (min-width: 481px){
         font-size: 24px;       
        }
        @media (max-width: 480px) and (min-width: 320px){
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            padding-left: 26px;
            padding-right: 26px;
        }
    }

    &__text__version{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        text-transform: uppercase;
        color: $gray;
        margin-top: 19px;

        @media (max-width: 992px) and (min-width: 481px){
         font-size: 14px;       
        }
        @media (max-width: 480px) and (min-width: 320px){
            font-size: 14px;
            margin-top: 14px;
        }
    }

    &__button{
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 22px;
        color: $white;

        padding: 23px 61px;
        background: #8D81AC;
        border: 2px solid $purple;
        border-radius: 40px;

        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);

        @media (max-width: 992px) and (min-width: 481px){
          font-size: 21px;
          line-height: 23px;
          padding: 23px 61px;
          width: 268px;
        }
        @media (max-width: 480px) and (min-width: 320px){
            font-size: 18px;
            line-height: 20px;
            padding: 13px 29px;
            width: 232px;
        }
        
    }

    &__button:hover{
        background: $white;
        color: $purple;
        border: 2px solid $purple;
    }
}

.hamburger {
    &__icon {
        display: none;
      width: 26px;
      height: 21px;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      outline: none;
      padding: 0;
      @media (max-width: 480px) and (min-width: 320px){
        display: block;
    }

    }
  
    &__line, &__line:after, &__line:before {
      display: block;
      position: absolute;
      border-radius: 1px;
      width: 26px;
      height: 3px;
      font-size: 0;
      background-color: #fff;
      transition: all 0.3s;
    }
  
    &__line:after {
      content: '';
      top: 6px;
    }
  
    &__line:before {
      content: '';
      width: 13px;
      left: 13px;
      top: -6px;
    }
  
    &__active {
      transform: rotate(45deg);
  
      &:before {
        opacity: 0;
      }
    }
  
    &__active:after {
      top: 0;
      transform: rotate(-90deg);
    }
  }
  