@mixin title($font-size, $color) {
    text-align: center;
    font-family: Montserrat;
    font-weight: bold;
    font-size: $font-size;
    color: $color;
}

@mixin gray-description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #848E97;
}

@mixin white-description {
    font-family: Lato;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;   
}